{% extends "basisTemplate.twig" %}

{% block title %}Maak uw keuze{% endblock %}
{% block content %}
<form action="" method="POST" class="formCard center elevate">
    <div class="formCard-body">
        <div class="form-control">
            <a class="btn" href="loginController.php">Ik heb een account</a>
        </div>
        <div class="form-control">
            <a class="btn" href="adresController.php">Ik heb nog geen account</a>
        </div>
    </div>
</form>
{% endblock %}